#first-paragraph {
    color: green;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}
#second-paragraph {
    color: green;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}