body {
    background-color:cadetblue;
    font-size: 32px;
}

header {
    background-color:coral
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
    color:cornsilk;

}

img.logo {
    width: 100px;
    height: auto;
}

img#hero-img {
    width: 100%;
}