body {
    text-align: center;
}
img.photoline {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 15px solid #444444;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
div {
    width: 1280px;
    margin: auto;
}
section {
    margin: auto;
    width: 1280px;
    height: auto;
    background-color:#737373;
}